.info__card {
  margin: 1rem;
  position: relative;
  min-height: 200px;
}

.info__card .info__card--cover img {
  display: block;
}

.card__list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.card__list--title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: start;
}
