body {
  background-image: var(--background-image);
}

.container {
  margin: 5px;
}

.container video {
  margin-bottom: 1.6rem;
}

.container h1 {
  margin: 2rem;
  font-size: 2.2rem;
  color: var(--title-h1);
}

.meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

.meta__info {
  padding: 5px;
  border: 1px solid gold;
  border-radius: 5px;
  background: gold;
}

.meta__cast span {
  font-size: 1.8rem;
  font-weight: bold;
}

.meta__cast ul li {
  text-align: start;
}

.film__resume p {
  font-size: 1.6rem;
}

.film__resume p::first-letter {
  font-size: 2rem;
}

.container h2 {
  margin: 2rem;
  font-size: 2rem;
  color: var(--title-secondary);
}

/* Responsive */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 50px 100px; */
    gap: 10px;
  }

  .container h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .meta {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }

  .film__cover {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
    max-width: 500px;
    max-height: 500px;
    outline: none;
  }

  .film__resume {
    grid-column: 4 / span 3;
    grid-row: 3 / 4;
    margin-right: 30px;
    text-align: justify;
    font-size: 1.6rem;
  }

  .aside {
    height: 40vh;
    margin-top: 1.6rem;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-evenly;
  }

  .aside img {
    width: 200px;
    height: 250px;
  }

}
