body {
  display: grid;
  height: 100vh;
  grid-template: 1fr 1fr 100px / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  gap: 20px;
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: cover;
}

.header {
  grid-area: header;
  width: 100vw;
  height: 15rem;
}

.main {
  grid-area: main;
  width: 100vw;
  min-width: 320px;
}

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: /* 1fr  */1fr;
  /* grid-template-rows: auto; */
  justify-content: center;
  gap: 10px;
}

.main h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: start;
  margin-left: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.footer {
  grid-area: footer;
}

@media (min-width: 425px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .container {
    /*    grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  
  @media (min-width: 1240px) {
    .container {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}