.login__container {
  display: block;
  width: 100vw;
  height: 100vh;
}

header {
  background: var(--soft-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--header-height);
}

header img {
  min-width: 120px;
  max-width: 180px;
  max-height: 100px;
}

body {
  background: var(--background-color);
}

main {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 10px;
  margin-top: 20px; /* @media margin-top: 50px; */
}

.login__form {
  position: absolute;
  min-width: 315px;
  height: 435px;
  padding: 10px;
  background: var(--transparent-black);
  color: rgb(255, 255, 255);
}

.login__form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.6rem;
}

.login__form a {
  font-size: 1.6rem;
  text-decoration: none;
  margin-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.login__form label {
  display: block;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.form__group input {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.form__group--textbox {
  margin-bottom: 20px;
  padding: 10px;
}

.login__form checkbox {
  margin-left: 10px;
}

.login__form .form__group--remember {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: baseline;
  justify-content: center;
}

input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  font-size: 1.6rem;
}

input[type='submit'] {
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 20px;
  background: var(--green-button);
}

.login__form .no__password a {
    text-align: center;
}

input[type='checkbox' i] {
  margin-left: 10px;
}

.signup {
  font-size: 1.4rem;
  margin-top: 2.4rem;
  text-align: center;
}
