body {
  background: var(--background-login);
}

.login__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 1 15%;
  height: var(--header-height);
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: var(--soft-black);
}

header img {
  display: block;
  margin: 0 auto;
  min-width: 120px;
  max-width: 165px;
}

main {
  flex: 1 90%;
}

.form__group {
  display: block;
  margin: 1.2rem;
}

.signup p {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .login__container {
    background: url(../images/camera.jpg) center center;
    background-size: cover;
  }

  .login__form {
      background: var(--transparent-black);
  color:white;
  }
}
