.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  border: 5px solid green;
}

.logo img {
  width: 120px;
  margin-left: -30px;
  margin-top: -10px;
  height: 90px;
}

.navbar__menu {
  margin-right: 0.5rem;
}

.navbar__menu:hover ul,
ul:hover {
  display: block;
  line-height: 30px;
}

.navbar__menu--profile {
  width: 40px;
  margin-left: 70px;
}

.navbar__menu--profile img {
  width: 30px;
  height: 30px;
  background: bisque;
}

.navbar__menu--list {
  list-style: none;
  display: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -22px;
}

.navbar__list--item {
  margin: 10px 0px;
  color: white;
  text-decoration: none;
}
