:root {
    --background-color: #d66234;
    --title-color: #222326;
    --soft-black: #110f0f;
    --green-button: #15883E;
    --grey-info: #616467; 
    --font-color: #ffffff;
    --header-height: 8rem;
    --footer-bottom: 20rem;
}